.venv
.data
.ipynb_checkpoints
.vscode 
__pycache__
*.pyc
*.pyo

# Ignore datasets
data/tmdb_5000_movies.csv
data/tmdb_5000_credits.csv
data/ratings_sample.csv
data/ratings.csv
data/links.csv
data/links_small.csv
data/genome_tags.csv
data/genome_scores.csv
